{% extends "base.html" %}


{% block content %}

<div class="container">


    <!--    хлебные крошки начало-->
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="/index"><b>Главная</b></a></li>
            <li class="breadcrumb-item"><a href="/content/{{title}}"><b>{{title}}</b></a></li>
            <li class="breadcrumb-item active" aria-current="page">{{trip_description[0][3].title}}</li>
        </ul>
    </nav>


    <h4>{{trip_description[0][3].title}}</h4>
    <br>
    {% for item in trip_description %}
    <!--    <ol style="list-style-type: none;">-->
    <!--        <li>Тип: {{ item[0].id }}</li>-->
    <!--        <li>Как добраться: {{ item[3].how_to_go }}</li>-->
    <!--        <li>Описание: {{ item[3].description }}</li>-->
    <!--        <li>Протяженность: {{ item[3].route_length }} км</li>-->
    <!--        <li><a href="{{ item[3].official_website_link }}">Ссылка на официальный сайт</a></li>-->
    <!--        <li>Трек: {{ item[3].track }}</li>-->
    <!--        <li>Уровень: {{ item[2].level_name }}</li>-->
    <!--        <li>Описание: {{ item[3].title }}</li>-->

    <!--    </ol>-->


    <div class="row gy-1">
        <div class="col-lg-3 col-md-4 col-ms-12">

            <p><b>Уровень</b>: {{ item[2].level_name }}
                <br><b>Протяженность</b>: {{ item[3].route_length }} км
                <br><b>Длительность</b>: {{ item[4].duration }} дн</p>


        </div>
        <div class="col-lg-9 col-md-8 col-ms-12">
            <p style="white-space: pre-wrap">{{ item[3].description }}</p>
        </div>
    </div>
    <div class="row gy-2">
        <div class="col-lg-3 col-md-4 col-ms-12 text-lg-end  text-md-end text-sm-start">
            <a data-bs-toggle="tooltip" data-bs-placement="top" title="Скачать трек"
               href="{{ url_for('static', filename='tracks/' + item[3].track) }}" download><img
                    src="../static/images/gps_track_light_green2.png" alt="GPS-track"></a>

        </div>
        <div class="col-lg-9 col-md-8 col-ms-12">
            <p style="white-space: pre-wrap"><b>Как добраться:</b> {{ item[3].how_to_go }}</p>
            <a href="{{ item[3].official_website_link }}">Официальный сайт</a>
        </div>
    </div>

    {% endfor %}
    <br>
    <!--Карусель начало-->
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">

        <div class="carousel-inner">

            <div class="carousel-item active">
                <img src="{{ url_for('static', filename='images/' + trip_photos[0][1].link) }}" class="d-block w-100"
                     alt="{{ trip_photos[0][1].photo_name }}">
                <div class="carousel-caption d-none d-md-block">
                    <h5>{{ trip_photos[0][1].photo_name }}</h5>

                </div>

            </div>
            {% for i in range(1, len_trip_photos) %}
            <div class="carousel-item">
                <img src="{{ url_for('static', filename='images/' + trip_photos[i][1].link) }}" class="d-block w-100"
                     alt="{{ trip_photos[i][1].photo_name }}">
                <div class="carousel-caption d-none d-md-block">
                    <h5>{{ trip_photos[i][1].photo_name }}</h5>
                </div>
            </div>
            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Предыдущий</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Следующий</span>
        </button>
    </div>
    <!--Карусель конец-->
    <br>
    <h5>Отзывы</h5>
    <br>


    <div class="row gy-1">
        <div class="col-lg-3 col-md-4 col-ms-12 text-lg-end  text-md-end text-sm-start">

        </div>
        <div class="col-lg-9 col-md-8 col-ms-12">
            <form action="" method="post" novalidate>
                {{ form.hidden_tag() }}
                <p>{{ form.comment() }}</p>
                <div>
                    {{ form.add_btn(class_="btn btn-primary") }}
                </div>
                {% for error in form.comment.errors %}
                <span class="text-danger">[{{ error }}]</span>
                {% endfor %}
            </form>
            <!--Сообщения об ошибках начало-->

            {% with messages = get_flashed_messages() %}
            {% if messages %}

            {% for message in messages %}
            <span class="text-danger">
                {{ message }}
            </span>
            {% endfor %}
            {% endif %}
            {% endwith %}

            <!--Сообщения об ошибках конец-->
        </div>
    </div>
    <br>


    {% for item in trip_comments %}
    <div class="row gy-1">

        <div class="col-lg-3 col-md-4 col-ms-12 text-lg-end  text-md-end text-sm-start">
            <p>{{ item[1].username }}</p>
        </div>
        <div class="col-lg-9 col-md-8 col-ms-12">
            <form action="" method="post" novalidate>
                <!--            {{ item[0].id }}-->
                <!--            {% set item_id = item[0].id %}-->
                <p style="white-space: pre-wrap">{{ item[0].description }}</p>
                {% if current_user.id == item[1].id %}
                {{ form.update_btn(class_="btn btn-primary") }}
                {{ form.delete_btn(class_="btn btn-primary") }}
                {% endif %}
            </form>
        </div>

    </div>
    {% endfor %}

    <br>


</div>

{% endblock %}